body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
    background-color: #fff;
}

html,
body {
  min-width: 940px;
  min-height: 1750px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.page-header {
    background-color: #f3f7f8;
    height: 320px;
    width: 100%;
}

.header-top-bg {
    background-color: #293449;
    height: 40px;
    width: 100%;
}

.header-top {
	width: 940px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    background-color: #293449;
    text-align: center;
}

.header-top a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    color: #fff; 
		align-items: center;
}

.header-top li:first-child {
  	display: inline-block;
    width: 220px;
    height: 40px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;    
}

.header-top li:first-child a {
  	display: block;
    height: 100%;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  	padding-top: 10px;
}

.header-top li:nth-child(2) {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
}

input[type=search] {
    width: 260px;
    background-color: #293449;
    border: none;
    font: inherit;
    font-size: 17px;
    color: #000;
}

input[type=search]:hover a {
    background-color: #293449;
    color: :#fff;
}
input[type=search]:focus {
    background-color: #fff;
    font-size: 17px;
}

.header-top li:nth-child(3),
.header-top li:nth-child(4) {
  	display: inline-block;
    width: 160px;
    height: 40px;
}

.header-top li:nth-child(3) a,
.header-top li:nth-child(4) a {
  	display: block;
    height: 100%;
    padding-top: 10px;
}

.header-top li:last-child {
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #63a63e;
}

.header-top li:last-child a {
    display: block;
    height: 100%;
    padding-top: 10px;
}

.header-top li:nth-child(3):hover,
.header-top li:nth-child(4):hover {
    background-color: #212a3a;
}

.header-top li:first-child:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.header-top li:last-child:hover {
    background-color: #5fbb2d;
}

.header-top li:first-child:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.header-top li:nth-child(3):active a,
.header-top li:nth-child(4):active a {
    background-color: #293449;
    opacity: 0.6;
}

.header-top li:last-child:active {
    background-color: #518534;
    opacity: 0.51;
}

.container-bg {
	width: 940px;
	margin: 0 auto;	
	display: flex;
    flex-direction: column;
    align-content: space-around;
}    

.header-middle {
    width: 940px;
    display: flex;
    align-items: center;   
    justify-content: space-around;
    padding: 27px 0;
}

.header-middle ul {
    display: flex;  
}

.header-middle li {
    padding-right: 10px;
}

.site-name {
    width: 200px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    padding-left: 0px;
    color: #ee3643;
}

.middle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-info .phone {
    width: 270px;
    height: 45px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    text-align: center;
    margin: 0;
    color: #ee3643;
    border: 2px solid #fff;
}

.middle-info .address {
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation {
    margin: 0;
    padding: 0;
}

.button-account {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
}

.main-menu {
  	width: 100%;
    margin-bottom: 60x;
}

.main-menu ul {
  	width: 100%;
    height: 55px;
	margin: 0;
  	padding: 0;  
  	background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;  
}

.main-menu li {
	display: inline-block;
 }

.main-menu li:hover {
    background-color: #293449;
}

.main-menu a {
  	display: block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    vertical-align: bottom;
  	
}

.button {
    width: auto;
    height: 38px;
    padding: 14px 50px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    color: #fff;
    background-color: #ee3643;
    box-sizing: border-box;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
		margin-top: 60px;
}

.catalog-list ul:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
		margin: 0;
		padding: 0;        
}

.catalog-list ul:first-child li  {
    display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 300px;
    height: 120px;
		padding: 10px 0;
		box-sizing: border-box;
}

.catalog-list ul:first-child li h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
		padding: 0;
		margin: 0;
		
}

.button-catalog {
		display: inline-block;
    width: 135px;
    padding: 14px 0;
    text-align: center;
		font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
		box-sizing: border-box; 
}

.catalog-list ul:first-child li:first-child  {
    background-color: #ffbf47;
}

.catalog-list ul:first-child li:nth-child(2)  {
    background-color: #3bbce3;
}
.catalog-list ul:first-child li:last-child  {
    background-color: #dc91d8;
}

.features-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
		margin: 0;
		padding: 0;
}

.features-list li {
    display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: space-around;
		flex-wrap: wrap;
		width: 300px;
    height: 120px;
		padding: 10px 0;
		box-sizing: border-box;
}

.features-list li h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
		padding: 0;
		margin: 0;
}

.features-list li:first-child  {
    background-color: #8ed78f;
}

.features-list li:last-child  {
    background-color: #ffc047;
}

.gallery h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.gallery span {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.gallery-content {
		padding: 0;
		margin: 0;
}

.popular-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 89px;
    padding: 0 24px 0 30px;
    background-color: #f9f5f0;
}
.popular-items h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    1line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.popular-list ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.preview-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 218px;
    height: 318px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    margin-bottom: 21px;
}

.preview-item h3 {
    width: 70%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    word-wrap: break-word;
    margin: 0;
}

.preview-item p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
    margin: 0;
}

.preview-item span {
    width: 140x;
    height: 37px;
    background-color: #ee3643;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 12px 35px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.popular-brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 89px;
    padding: 0 24px 0 30px;
    background-color: #f9f5f0;
}

.popular-brands h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.brands-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
		align-content: center;
    padding: 0;
}

.preview-brands {
    width: 220px;
    height: 140px;
    display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
    border: 1px solid #eaeaea;
		vertical-align: middle;
		margin-bottom:20px;
}

.preview-brands img {
    max-width: 100%;
    height: auto;
    border: none;
}

.services {
		background-color: #f4f8f9;
}

.services .container {
		width: 980px;
		margin: 0 auto;
}

.services-info {
		box-sizing: border-box;
		margin-bottom: 77px;
		padding-top: 68px;
}

.services h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
		margin: 0;
}

.features {
   	width: 940px;
}

.features ul {
		float: left;
		width: 300px;
		padding: 0;
		margin: 0;
		display: block;
}

.features li {
		position: relative;
		vertical-align: middle;
		height: 61px;
		width: 240px;
		background-color: #32425c;
		padding-left: 22px;
		box-sizing: border-box;
}

.features a {
		position: absolute;
		top: 25%;		
}


.features li:first-child {
		background-color: #fff;
}

.features li:first-child a {	
		color: #32425c;
}

.features li:hover {
		background-color: #293449;
}

.features li:first-child:hover a {
		color: #fff;
}

.features li a {
		font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
		font-weight: bold;
		line-height: 30px;
		color: #fff;
}

.features li a {
		color: #fff;
}

.delivery {
		display: block;
		
		width: 70%;
		height: 300px;
		background-image: url(../img/services-1.png);
    background-position: 100% 150%;
    background-repeat: no-repeat;
}

.delivery h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425c;
}


.about {
    display: flex;
		justify-content: center;
		align-content: flex-start; 
		height: auto;
}

.about-us {
		width: 65%;
		height: 100%;
}

.about-us p {
		width: 90%;
}

.about h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
}

.contacts {
		float: right;
		width: 35%;
		height: 420px;
}

.contacts img {
		margin-bottom: 40px;
}

.delivery-company {
		margin-top: 30px;
}

.delivery-company li {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000;
		padding-bottom: 20px; 
}

footer {
		background-color: #32425c;
}

.footer-top {
		width: 940px;
		margin: 0 auto;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		background-color: #32425c;
}

.footer-top .logo {
    padding: 16px 40px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ee3643;
		box-shadow: 0 5px 0 0 #b52933; 
}

.footer-top > a:hover{
		background-color: #ca2c37;
}

.footer-top ul {
    display: flex;
		justify-content: space-between;
		width: 60%;
}

.footer-top a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: normal;
    color: #f1f5f7;
}

.footer-top li:hover a {
    color: #f1f5f7;
    border-bottom: 1px solid #f1f5f7;
}

.footer-top li:active a {
    color: #f1f5f7;
    opacity: 0.5;
    border-bottom: none;
}

.footer-middle {
		width: 940px;
    display: flex;
		align-content: ;
		align-items: baseline;
		justify-content: space-between;
		margin: 0 auto;
    background-color: #32425c;
}

.footer-middle p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.footer-middle ul {
    display: flex;
		justify-content: space-between;
		width: 60%;
}

.footer-middle a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.footer-middle li:hover a {
    border-bottom: 1px solid #ffd180;
}

.footer-middle li:active a {
    opacity: 0.5;
    border-bottom: none;
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom .container {
		margin: 0 auto;	
		display: flex;
		justify-content: space-between;
}

.footer-bottom p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #fff;
}

.footer-bottom .share {
   	width: 30%;
		text-align: center;
}

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
		background: #212a3a url("../img/social-icon.png") no-repeat; 
    vertical-align: middle;
		border-radius: 50px;
		margin-top: 15px;
}

.social-vk {
	background-position: 6px 50%;
}

.social-fb {
		background-position: -39px 50%;
}

.social-ig{
		background-position: -82px 10px;    
}

.share .social a:hover {
		color: #ee3643;
}

.footer-bottom a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.footer-bottom .footer-feedback a:hover,
.footer-bottom .copyright a:hover{
    border-bottom: 1px solid #ffd180;
}

.footer-bottom .footer-feedback a:active,
.footer-bottom .copyright a:active {
    color: #ee3643;
    border-bottom: none;
}

/* КАТАЛОГ */

.account .username {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    width: 240px;
}

.account li>a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #32425c;  
}

.breadcrumbs a {
    color: #000;
    line-height: 18px; 
    text-transform: uppercase;
}

.catalog-name {
    background-color: #f2f6f8;
}

.catalog-name h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.filters p {
    text-transform: uppercase;
    background-color: #f7f3ec;
}

fieldset {
		width: 220px;
		padding: 0;
		border: none;
		margin-bottom: 20px;
}

fieldset ul {
		margin: 0;
		padding: 0;		
}

fieldset label {
		font-size: 15px;
		line-height: 20px;
		text-transform: uppercase;    
}

.filter legend {
		font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
		text-transform: uppercase;
    color: #000;
}

.filter .price {
		height: 80px;
		background-color: #f7f3ec;
}

.filter .btn-apply-filter {
    padding: 14px 37px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.sort-by {
    width: 700px;
    background-color: #f7f3ec;
}

.sort-by span {
    font-size: 13px;
    text-transform: uppercase;
}

.sort-by button {
    border: none;
    background: none;
}

.sort-by button span {
    font-size: 13px;
    color: #acaaa5;
    border-bottom: 1px dotted #ee3643; 
}

.sort-by button:active span {
    color: #ee3643;
    border-bottom: none; 
}

.sort-by button:hover span {
    color: #000;
    border-bottom: 1px solid #ee3643; 
}

.page-number li {
    padding: 13px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.page-number li:hover {
    border: 1px solid #bdc6ca;
}

.page-number li:active {
    border: 1px solid #ee3643;
}

.page-number li span {
    font-size: 13px;
    text-transform: uppercase;
}

.category-info {
    background-color: #f2f6f8;
}

.category-info h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
}

.category-info p {
    font-size: 13px;
    line-height: 24px;
}
