body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.page-header {
    /*height: 320px;*/
    background-color: #f3f7f8;
}

.header-top {
    background-color: #212a3a;
}

.header-top a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
}

.header-top li:first-child a {
    padding: 13px 50px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.header-top li:nth-child(2) {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    
}
input[type=search] {
    width: 270px;
    background-color: #212a3a;
    border: none;
    font: inherit;
    font-size: 17px;
    color: #000;
}

input[type=search]:hover a {
    background-color: #293449;
    color: :#fff;
}
input[type=search]:focus {
    background-color: #fff;
    font-size: 17px;
}

.header-top li:nth-child(3):hover a,
.header-top li:nth-child(4):hover a {
    background-color: #212a3a;
}


.header-top li:last-child a {
    background-color: #63a63e;
}

.header-top li:first-child:hover a {
    background-color: #ca2c37;
    border-bottom: 5px solid #9a212a;
}

.header-top li:last-child:hover a {
    background-color: #5fbb2d;
}

.header-top li:first-child:active a {
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.header-top li:nth-child(3):active a,
.header-top li:nth-child(4):active a {
    background-color: #293449;
    opacity: 0.6;
}

.header-top li:last-child:active a {
    background-color: #518534;
    opacity: 0.51;
}

.site-name {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.contacts .phone-number {
    width: 264px;
    height: 40px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: #ee3643;
    border: 2px solid #fff;
}
.contacts .address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.button-account {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
}

.main-menu {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}


.main-menu a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #fff;
}

.button {
    width: 195px;
    height: 38px;
    padding: 14px 50px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    color: #fff;
    background-color: #ee3643;
}

.catalog-list li  {
    width: 300px;
    height: 123px;
}

.catalog-list li h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.button-catalog {
    width: 135px;
    height: 38px;
    padding: 14px 24px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);   
}

.catalog-list li:first-child  {
    background-color: #ffbf47;
}

.catalog-list li:nth-child(2)  {
    background-color: #3bbce3;
}
.catalog-list li:last-child  {
    background-color: #dc91d8;
}

.features-list li {
    width: 300px;
    height: 123px;
}

.features-list li h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.features-list li:first-child  {
    background-color: #8ed78f;
}

.features-list li:last-child  {
    background-color: #ffc047;
}

.gallery h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.gallery p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.popular-items {
    width: auto;
    height: 100px;
    background-color: #f9f5f0;
}
.popular-items h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.preview-item {
    width: 218px;
    height: 318px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}
/* ховер
.preview-item {
    width: 218px;
    height: 318px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}
*/
.preview-item h2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.preview-item p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.preview-item span {
    width: 140x;
    height: 37px;
    background-color: #ee3643;
    border-radius: 3px;
    padding: 12px 35px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
}

.popular-brands {
    width: auto;
    height: 100px;
    background-color: #f9f5f0;
}
.popular-brands h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.preview-brands {
    width: 220px;
    height: 141px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}

.services {
    background-color: #f4f8f9;
}

.services h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
}

.delivery h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    color: #32425c;
}

.about h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
}

.delivery-company li {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

footer {
    background-color: #32425c;
}

.footer-top {
    background-color: #32425c;
}

.footer-top a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: normal;
    color: #f1f5f7;
}

.footer-top li:first-child a {
    padding: 17px 40px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.footer-top li:not(:first-child):hover a {
    color: #f1f5f7;
    border-bottom: 1px solid #f1f5f7;
}

.footer-top li:not(:first-child):active a {
    color: #f1f5f7;
    opacity: 0.5;
    border-bottom: none;
}

.footer-middle {
    background-color: #32425c;
}

.footer-middle p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.footer-middle a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #fff;
}

.footer-bottom a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

/* КАТАЛОГ */

.account .username {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    width: 240px;
}

.account li>a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #32425c;  
}

.breadcrumbs a {
    color: #000;
    line-height: 18px; 
    text-transform: uppercase;
}

.catalog-name {
    background-color: #f2f6f8;
}

.catalog-name h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.filters p {
    text-transform: uppercase;
    background-color: #f7f3ec;
}

fieldset {
		width: 220px;
		padding: 0;
		border: none;
		margin-bottom: 20px;
}

fieldset ul {
		margin: 0;
		padding: 0;		
}

fieldset label {
		font-size: 15px;
		line-height: 20px;
		text-transform: uppercase;    
}

.filter legend {
		font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
		text-transform: uppercase;
    color: #000;
}

.filter .price {
		height: 80px;
		background-color: #f7f3ec;
}

.filter .btn-apply-filter {
    padding: 14px 37px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.sort-by {
    width: 700px;
    background-color: #f7f3ec;
}

.sort-by span {
    font-size: 13px;
    text-transform: uppercase;
}

.sort-by button {
    border: none;
    background: none;
}

.sort-by button span {
    font-size: 13px;
    color: #acaaa5;
    border-bottom: 1px dotted #ee3643; 
}

.sort-by button:active span {
    color: #ee3643;
    border-bottom: none; 
}

.sort-by button:hover span {
    color: #000;
    border-bottom: 1px solid #ee3643; 
}

.page-number li {
    padding: 13px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.page-number li:hover {
    border: 1px solid #bdc6ca;
}

.page-number li:active {
    border: 1px solid #ee3643;
}

.page-number li span {
    font-size: 13px;
    text-transform: uppercase;
}

.category-info {
    background-color: #f2f6f8;
}

.category-info h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
}

.category-info p {
    font-size: 13px;
    line-height: 24px;
}





















/*
a.arrow {
    display: inline-block;
    margin: 0 10px;
    font-size: 0;
    
}

.arrow::before {
    content: "";
    display: inline-block;
    border: 20px solid #acaaa5;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow::before:hover {
    border: 20px solid #000;
}

.arrow::before:active {
    border: 20px solid #fff;
}

.arrow-up::before {
    border-top-width: 0;
}

.arrow-down::before {
    border-bottom-width: 0;
}
*/